* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #69b7eb, #8dc8fb, #8dcaff);
  font-size: 1.1rem;
  font-family: "fantasy";
  height: 100%;
}
